*.iml
.gradle
/local.properties
/.idea
/build
/app/build
/captures
.DS_Store
*.apk
*.keystore
*.jks
/app/.cxx
/.cxx
.cxx/
.externalNativeBuild
/app/debug
/app/release
/out
.settings/
.classpath
Thumbs.db
